@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
	margin:0;
}

h1,
h2,
h5,
p {
  margin:5;
}

body,
html {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%; }

h1,
h2,
{
  font-weight: 700; }

/* Spacing & Alignment Helpers */
.text-center {
  text-align: center; }

/* Global Generic Styles */
ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in 0.1s;
          transition: all ease-in 0.1s; }
h5 a {
	color: steelblue;
	align-content: center;
}

  a:hover {
    text-decoration: none;
    -webkit-transition: all ease-in 0.1s;
            transition: all ease-in 0.1s; }
.btn-primary {
  background: #FF5A5F;
  color: #fff;
  border: none;
  -webkit-transition: all ease-in 0.1s;
          transition: all ease-in 0.1s; }
  .btn-primary:active {
    background: #FF5A5F;
    color: #fff; }
  .btn-primary:hover {
    background: #999;
    color: #fff;
    -webkit-transition: all ease-in 0.1s;
            transition: all ease-in 0.1s; }
  .btn-primary:focus {
    background: #FF5A5F;
    color: #fff; }

.video-bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.video-bg_video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; }

#overlay {
  z-index: 999;
  color: #fff;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }
  #overlay #logoTop {
    float: left; }
    @media (max-width: 767px) {
      #overlay #logoTop {
        padding-left: 15px;
        padding-top: 18px; }
        #overlay #logoTop #logo {
          font-size: 18px; } }
    @media (min-width: 768px) {
      #overlay #logoTop {
        padding: 21px 0 0 40px; }
        #overlay #logoTop #logo {
          font-size: 26px; } }
  #overlay #links {
    float: right;
    padding: 19px 20px 0 0; }
    #overlay #links li,
    #overlay #links ul {
      display: inline-block;
      padding: 5px 10px; }
    #overlay #links a {
      font-size: 1.1em;
      padding-top: 10px; }
    #overlay #links a:focus,
    #overlay #links a:hover {
      color: #0c4a60;
      text-decoration: none; }
      #overlay #links #users a {
        font-size: 1.1em; }
  #overlay #messagebox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%; }
    #overlay #messagebox h1 {
      font-size: 4.2em;
      font-weight: 700;
      margin-top: -130px; }
    #overlay #messagebox h2 {
      font-size: 2em;
      font-weight: 400;
      margin-top: -10px; }
    @media (max-width: 768px) {
      #overlay #messagebox h1 {
        font-size: 2.2em;
        font-weight: 700;
        margin-top: -40px; }
      #overlay #messagebox h2 {
        font-size: 1.2em;
        font-weight: 400;
        margin-top: -5px;
        padding: 0 5px; } }


@media (max-width: 767px) {
  .video-bg {
    background: url("../img/landing-page.jpg") center center/cover no-repeat; }

  .video-bg_video {
    display: none; }

  #overlay {
    z-index: 999;
    color: #fff;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); } }

