<!DOCTYPE html>
<html lang="en">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Welcome to More-Recipes</title>
	<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
	<link rel="manifest" href="./favicon/manifest.json">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/profilepage.css" >
      
  </head>
  <body> 
	  <div id="overlay">
        <div id="navbar">
          <div id="logoTop">
            <a id="logo" href="index.html">More Recipes</a>
          </div>
          <div id="links">
            <ul>
              <li><a href="#" >Home</a></li>
              <li><a href="topRecipes.html">Top Recipes</a></li>
              <li id="users"><a href=profilepage.html>Profile</a></li>
              <li ><a>
				  <div class="span12">
						<form id="custom-search-form" class="form-search form-horizontal pull-right">
							<div class="input-append span12">
								<input type="text" class="search-query" placeholder="Search Recipe">
								<button type="submit" class="btn"><i class="icon-search"></i></button>
							</div>
						</form>
					</div>
				  </a></li>
            </ul>
          </div>
        </div>
		<section class="jumbotron text-center">
		  <div class="container">
			 <img class="userpic" src="./img/ejiro.jpg" alt="Image of recipe">
			<h1 class="jumbotron-heading">UserName</h1>
			<p class="lead text-muted">Hello there Welcome to my Favorites page </p>
		  </div>
			<a href="addrecipes.html" class="btn btn-primary btn-lg active btn-info" role="button" aria-pressed="true">Add Recipe</a>
		</section>


      <div class="container">
        <div class="row profile">

            <div class="col-md-12">
        <div class="container marketing">
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7">
                  <h2 class="featurette-heading"><a href="recipepage.html">Title of Recipe</a></h2>
                  <h3>Posted on 08.24.2017 by <a href="profilepage.html">Username</a></h3>
                  <p class="lead">this is where the steps for the recipes go and some more rubbish too .. typing to fillup space again </p>
                    <i class="fa fa-thumbs-up"  style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
                     <i class="fa fa-thumbs-down" style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <i class="fa fa-pencil-square-o" style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
                    <i class="fa fa-trash" style="font-size:30px" aria-hidden="true"></i>
                    <br />
                    <br />
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="./img/Indomielette.jpg" alt="Image of recipe">
               
            </div>
            <br />
            <br />
            
        </div>
    </div>
    <br />
        <div class="container marketing">
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7">
                  <h2 class="featurette-heading"><a href="recipepage.html">Title of Recipe</a></h2>
                  <h3>Posted on 08.24.2017 by <a href="profilepage.html">Username</a></h3>
                  <p class="lead">this is where the steps for the recipes go and some more rubbish too .. typing to fillup space again </p>
                    <i class="fa fa-thumbs-up"  style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
                     <i class="fa fa-thumbs-down" style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <i class="fa fa-pencil-square-o" style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
                    <i class="fa fa-trash" style="font-size:30px" aria-hidden="true"></i>
                    <br />
                    <br />
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="./img/Indomielette.jpg" alt="Image of recipe">
               
            </div>
            <br />
            <br />
            
        </div>
    </div>
    <br />
        <div class="container marketing">
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7">
                  <h2 class="featurette-heading"><a href="recipepage.html">Title of Recipe</a></h2>
                  <h3>Posted on 08.24.2017 by <a href="profilepage.html">Username </a></h3>
                  <p class="lead">this is where the steps for the recipes go and some more rubbish too .. typing to fillup space again </p>
                    <i class="fa fa-thumbs-up"  style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
                     <i class="fa fa-thumbs-down" style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <i class="fa fa-pencil-square-o" style="font-size:30px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
                    <i class="fa fa-trash" style="font-size:30px" aria-hidden="true"></i>
                    <i class="icon-edit"></i>
                    <br />
                    <br />
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="./img/Indomielette.jpg" alt="Image of recipe">
               
            </div>
            <br />
            <br />
            
        </div>
    </div>
    <br />
            </div>
        </div>
      </div>
	  </div>
       <footer class="text-muted">
          <div class="container">
            <p class="float-right">
              <a href="#">Next Page</a>
            </p>
            <p>&copy; 2017 More-Recipes Inc</p>
          </div>
        </footer>
      
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>