<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> More Recipes </title>
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
</head>
<body>

    <!-- Video Hero -->
    <div class="video-bg">
      <video loop muted autoplay poster="#" class="video-bg_video">
        <source src="vid/covervideo.mp4" type="video/mp4">
      </video>

      <div id="overlay">
        <div id="navbar">
          <div id="logoTop">
            <a id="logo">More Recipes</a>
          </div>
          <div id="links">
            <ul>
              <li id="users"><a href=signup.html>Sign Up</a></li>
              <li id="users"><a href="signin.html">Login</a></li>
            </ul>
          </div>
        </div>

        <!-- Banner Message Goes Here! -->
        <div id="messagebox" class="text-center">
          <h1>Welcome to More Recipes</h1>
			<br>
          <h2>Share your recipes with the world.</h2>
			<a href="topRecipes.html" class="btn btn-lg btn-primary">Learn More</a>
        </div>
		  

      <!-- Closing tags -->
      </div>
    </div>
    <script src="js/jquery.js"></script>

  </body>

</html>
