<!DOCTYPE html>
<html lang="en">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Welcome to More-Recipes</title>
	<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
	<link rel="manifest" href="./favicon/manifest.json">
	<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/recipestyle.css" />
      
  </head>
  <body>
        <div id="navbar">
          <div id="logoTop">
            <a id="logo" href="index.html">More Recipes</a>
          </div>
          <div id="links">
            <ul>
              <li id="users"><button type="button" class="btn btn-danger" ><a href="profilepage.html">Profile Page</a></button></li>
			<li id="users"><button type="button" class="btn btn-danger" ><a href="index.html">Log Out</a></button></li>
            </ul>
          </div>
        </div>
	  <br><br><br><br><br><br>
      
      <div class="container marketing">
          <hr class="featurette-divider">
          <div class="row featurette">
			   <div class="col-md-5">
              	<img class="featurette-image img-fluid mx-auto" src="./img/riceandplaintain.jpg" alt="Image of the recipe">
               
            	</div>
            <div class="col-md-7">
                  <h2 class="featurette-heading">Recipe Title.</h2>
                  <h3>Posted on 10.26.2017 by <a href="profilepage.html">User Name</a></h3>
                  <h4 class="page-header">Ingredients</h4>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				  </p>

				 <div class="col-mb-5">
					  <h4 class="page-header">Directions</h4>
					  <p>
					  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					  </p>
						<i class="fa fa-thumbs-up"  style="font-size:48px" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp;
						 <i class="fa fa-thumbs-down" style="font-size:48px" aria-hidden="true"></i>
						<br />
						<br />
            	</div>

                  <form class="comment">
						  <div class="form-group">
							<textarea class="form-control" id="recipeComment" rows="3" placeholder="Add a new comment" ></textarea>
						  </div>
						  <div class="form-group">
								<button class="btn btn-success">Post Review</button>
						  </div>
				  </form>
            <br />
            <br />
            
        </div>
		  </div>
		  </div>
    <br/>
        <footer class="text-muted">
          <div class="container">
            <p class="float-right">
              <a href="#">Back to top</a>
            </p>
            <p>&copy; 2017 More-Recipes Inc</p>
          </div>
        </footer>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	      	<script type="text/javascript" src="./js/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	  	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
    </body>
</html>