<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>More recipe | SIGN UP</title>
	<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
	<link rel="manifest" href="./favicon/manifest.json">
	<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	 <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="./css/signin.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

 <div class="wrapper">
		<div id="overlay">
        <div id="navbar">
          <div id="logoTop">
            <a id="logo" href="index.html">More Recipes</a>
          </div>
          <div id="links">
            <ul>
              <li id="users"><button type="button" class="btn btn-danger" ><a href="signin.html">Sign In</a></button></li>
            </ul>
          </div>
        </div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>


   <main>
      <div class="container">
        <div class="messages-container">
          
        </div>
        
	  <div class="row">
		<div class="col-md-6 offset-md-3">
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Sign up for free</h3>
			</div>
			<div class="panel-body">
			  <form action="" method="post" id="signupForm">
				<div class="form-group input-group">
				  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
				  <input type="text" class="form-control" value="" id="id_username" name="username" maxlength="30" placeholder="Username">


				</div>
				<div class="form-group input-group">
				  <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
				  <input type="email" class="form-control" value="" id="id_email" name="email" maxlength="None" placeholder="Email">

				</div>
				<div class="form-group input-group">
				  <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
				  <input type="password" class="form-control" value="" id="id_password" name="password" placeholder="Password">

				</div>

				 <div class="form-group input-group">
				  <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
				  <input type="password" class="form-control" value="" id="id_password" name="password" placeholder="Confirm Password">

				</div>

				<div class="form-group">
				<button type="submit" class="btn btn-success app-btn"><a href="topRecipes.html">Create an Account</a></button>
				</div>

				<div class="form-group text-center">
				 <p>Already have an account ?
				  <a href="signin.html" class="">Sign In</a>
				  </p>
				  </div>

			  </form>

			</div>
		  </div>
		</div>
	  </div>

      </div>
    </main>
    <div class="push"></div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	</div>

</body>
</html>